label {
  color: white;
  margin-top: 15px;
  font-size: 0.9rem;
}

input,
textarea {
  margin-top: 5px;
  padding: 12px;
  border-radius: 6px;
  border: none;
  font-size: 0.9rem;
}

textarea {
  min-height: 80px;
}